{% extends 'base.html' %}

{% block content %}
    <h4>Add Comment</h4>

    {% for comment in comments %}
        <div>
            <p><a href="{% url 'profile' comment.user.username %}"><img src="{{comment.user.profile.image.url}}" width="40" height="40">{{comment.user.username}}</a>
                 {{comment.date_posted|timesince}} ago &nbsp;<a href="{% url 'deletecomment' comment.id %}">Delete</a></p>
            <p>{{comment.content}}</p>
        </div>
    {% endfor %}

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="content" placeholder="Comment on this post">
        </form>
    </div>
{% endblock content %}