{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

<main class="main-content position-relative border-radius-lg ">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl navbar-fixed" id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3 navbar-content">
        <a class="navbar-brand" href="#" onclick="goBack()">
            <i class="ni ni-bold-left"></i>
        </a>

        <!-- User Profile and Notification (Far Right) -->
        <ul class="navbar-nav">
          <div class="ms-md-auto pe-md-3 d-flex mt-3 align-items-center">
            <div class="input-group">
              <form action="{% url 'search' %}" method="GET">
                {% csrf_token %}

                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                  <input type="text" name="user" class="form-control" placeholder="Search here...." required
                    aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </form>
            </div>
          </div>
           <!-- Notification begins -->
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton message-link"
   data-bs-toggle="dropdown" aria-expanded="false" onclick="hideNotificationCount()">
                <span class="bell-icon m-3">
                  <i class="fa fa-bell cursor-pointer text-dark"></i>
                  {% if distinct_senders.count >= 1 %}
                    <small id="notification-count" class="text-danger fw-bolder">{{distinct_senders_count.count}}</small>
                  {% endif %}
                </span>
              </a>
    
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              {% if distinct_senders %}  
                {% for sender in distinct_senders %}
                  {% with messages=sender.sent_messages.all %}
                    {% if messages %}
                      {% with latest_message=messages.latest %}
                        <li class="mb-2">
                          <a class="dropdown-item border-radius-md" href="{% url 'message' sender.username %}">
                            <div class="d-flex py-1">
                              <div class="my-auto">
                                <img src="{{ sender.profile.image.url }}" class="avatar avatar-sm  me-3 ">
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="text-sm font-weight-normal mb-1">
                                  <span class="font-weight-bold">New message</span> from {{ sender.username }}
                                </h6>
                                <p class="text-xs text-secondary mb-0">
                                  <i class="fa fa-clock me-1"></i>
                                  {{ latest_message.date_sent|custom_timesince }}
                                </p>
                              </div>
                            </div>
                          </a>
                        </li>
                      {% endwith %}
                    {% endif %}
                  {% endwith %}
                {% endfor %}
                  {% if distinct_senders_count.count > 3 %}
                    <li>
                      <div class="d-flex py-1">
                        <a class="dropdown-item border-radius-md" href="{% url 'inbox' %}">View all....</a>
                      </div>
                    </li>
                  {% endif %}
                {% else %}
                <small>no new message</small>
              {% endif %}  
              </ul>
            </li>
            <!-- Notification end -->

            <!-- User Profile -->
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="{{ request.user.profile.image.url }}" class="avatar avatar-sm  me-3 ">
              </a>
    
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'home' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="home"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Home</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'profile' request.user.username %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Profile</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'inbox' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="mail"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Chats</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'settings' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="settings"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Settings</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'password_change' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="key"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Change Password</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'signout' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="log-in"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Logout</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
    
              </ul>
            </li>
            <!-- end user profile -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <!-- Comment feed -->
  <div class="align-items-start min-vh-25 mb-4 border-radius-lg mt-8">
  </div>
  <div class="container-fluid py-4">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0">
          <div class="card-body">
            <div class="container-fluid py-4">
              <div class="row">
                <div class="col-12">
                  <div class="card-header pb-0 d-flex justify-content-between">
                    <h6>Add comment</h6>
                    <small class="d-flex justify-content-end">{{comments.count}} comment{{comments.count|pluralize}}</small>
                  </div>

                  {% for comment in comments %}
                  
                    <div class="card mb-4">
                      <!-- delete model popover -->
                      <div class="d-flex justify-content-end">
                        <a class="delete-trigger" href="#" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-html="true"
                          data-bs-content="<a href='{% url 'deletecomment' comment.id %}' class='text-danger'>Delete</a>">
                          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                        </a>
                      </div>
                    
                      <!-- end delete popover -->
                    
                    
                      <div class="card-body px-0 pt-0 pb-2">
                        <div class="d-flex px-2 py-1">
                          <a href="{% url 'profile' comment.user.username %}">
                            <img src="{{comment.user.profile.image.url}}" class="avatar avatar-lg me-3 mx-auto p-2">
                    
                            <div class="d-flex flex-column justify-content-start">
                              <h6 class="mb-0 text-sm">{{ comment.user.username}}
                          </a>
                          <small> {{comment.date_posted|timesince}} ago
                    
                          </small>
                    
                          </h6>
                          <div class="comment-text">
                            <p class="text-xs text-dark rounded-3 p-2">
                              {{comment.content}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  {% endfor %}
  
                 
                  <div class="card d-flex justify-content-between">
                    <form method="POST">
                      {% csrf_token %}
                      <div class="fixed-field-container">
                          <div class="fixed-field-box">
                              <div class="fixed-textarea-container">
                                  <textarea name="content" class="form-control" placeholder="Leave a comment here" id="floatingTextarea" required></textarea>
                                  <button type="submit" class="rounded bg-gradient-light">
                                      <i class="fa fa-send text-dark"></i>
                                  </button>
                              </div>
                          </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- end comment -->
</main>


{% endblock content %}