{% extends 'base.html' %}

{% block content %}
    <h2>@{{user_profile.user.username}}</h2>
    <p><a href="{{user_profile.image.url}}"><img src="{{user_profile.image.url}}" alt="" width="300" height="300"></a></p>
    {% if user_profile.bio %}
        <p> <strong>ABOUT:</strong> {{user_profile.bio}}</p>
    {% endif %}
    {% if user_profile.location %}
        <p><strong>LOCATION:</strong> {{user_profile.location}}</p>
    {% endif %}

    <form action="{% url 'followunfollow' %}" method="POST">
        {% csrf_token %}
        {% if request.user.username != user_profile.user.username %}
            <input type="hidden" value="{{request.user.username}}" name="follower">
            <input type="hidden" value="{{user_profile.user.username}}" name="user_being_followed">
            {% if following %}
                <button type="submit">Unfollow</button>
                <a href="{% url 'message' user_profile.user.username %}">Message</a>
            {% else %}
                <button type="submit">Follow</button>
            {% endif %}
        {% endif %}
    </form>

    <div>
        {% if followers %}
            <h3>{{user_profile.user.username}}'s Followers:</h3>
            <ul>
                {% for follower in followers %}
                    <li>
                        <a href="{% url 'profile' follower.follower.username %}"><img src="{{follower.follower.profile.image.url}}" alt="pic" width="30" height="30"> {{ follower.follower.username }}</a>
                        
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        {% if users_following %}
            <h3>People {{user_profile.user.username}} is following:</h3>
            <ul>
                {% for followed_user in users_following %}
                    <li>
                        <a href="{% url 'profile' followed_user.user_being_followed.username %}"><img src="{{followed_user.user_being_followed.profile.image.url}}" alt="pic" width="30" height="30"> {{ followed_user.user_being_followed.username }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}