{% extends 'base.html' %}

{% block content %}
    <h1>Hello, World from template Inheritance!</h1>
    {% for post in page_obj %}
        <p><a href="{% url 'profile' post.author %}">@{{post.author}}</a></p>
        {% if post.get_file_type == 'image' %}
            <a href="{{post.file.url}}"><img src="{{post.file.url}}" alt="post" width="300" height="300"></a>
        {% elif post.get_file_type == 'video' %}
            <video controls width="300" height="300">
                <source src="{{ post.file.url }}" type="video/mp4">
            </video>
        {% else %}
            <p>No file uploaded or unsupported file type.</p>
        {% endif %}

        {% if post.no_of_likes == 0 %}
            <p>
                <a href="{% url 'likepost' %}?post_id={{post.id}}">Love</a> No Love 
                <a href="{{post.image.url}}" download>Download</a>
            </p>
        {% elif post.no_of_likes == 1 %}
            <p>
                <a href="{% url 'likepost' %}?post_id={{post.id}}">Love</a> Loved by {{post.no_of_likes}} person
                <a href="{{post.image.url}}" download>Download</a>
            </p>
        {% else %}
            <p>
                <a href="{% url 'likepost' %}?post_id={{post.id}}">Love</a> Loved by {{post.no_of_likes}} people
                <a href="{{post.image.url}}" download>Download</a>
            </p>
        {% endif %}
        <p>Posted by <a href="{% url 'profile' post.author %}">{{ post.author }}</a> on {{ post.date_posted }}</p>
        <p>{{ post.caption }}</p>

    {% with latest_comment=post.comment_set.latest %}
        {% if latest_comment %}
            <p>
                <a href="{% url 'comment' post.id %}">
                    {{ latest_comment.content }}
                </a>
            </p>
            {% if post.comment_set.count > 1 %}
                <p>
                    <a href="{% url 'comment' post.id %}">
                        view {{ post.comment_set.count|add:"-1" }} more comments
                    </a>
                </p>
            {% endif %}
        {% endif %}
    {% endwith %}
        <p><a href="{% url 'comment' post.id %}">Comment</a></p>
    {% endfor %}
        
    {% if suggested_users %}
        <h3>Suggested Users To Follow</h3>
        {% for user, profile in suggested_users %}
            <td>
                <p><a href="{{ profile.image.url }}"><img src="{{ profile.image.url }}" alt="" width="300" height="300"></a>
            
                <strong>Username: </strong><a href="{% url 'profile' profile.user %}">@{{ profile.user }}</a></p>
                
            </td>
        {% endfor %}
    {% endif %}
<!-- Pagination links -->
<div class="pagination">
    <div class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}"><strong>{{ num }}</strong></a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:"3" %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>

{% endblock content %}