{% extends 'base.html' %}

{% block content %}
    <h1>Hello, World from template Inheritance!</h1>
    {% for post in posts %}
        <p><a href="{% url 'profile' post.author %}">@{{post.author}}</a></p>
        <a href="{{post.image.url}}"><img src="{{post.image.url}}" alt="post" width="300" height="300"></a>
        
        {% if post.no_of_likes == 0 %}
            <p>
                <a href="{% url 'likepost' %}?post_id={{post.id}}">Love</a> No Love 
                <a href="{{post.image.url}}" download>Download</a>
            </p>
        {% elif post.no_of_likes == 1 %}
            <p>
                <a href="{% url 'likepost' %}?post_id={{post.id}}">Love</a> Loved by {{post.no_of_likes}} person
                <a href="{{post.image.url}}" download>Download</a>
            </p>
        {% else %}
            <p>
                <a href="{% url 'likepost' %}?post_id={{post.id}}">Love</a> Loved by {{post.no_of_likes}} people
                <a href="{{post.image.url}}" download>Download</a>
            </p>
        {% endif %}
        <p>Posted by <a href="{% url 'profile' post.author %}">{{ post.author }}</a> on {{ post.date_posted }}</p>
        <p>{{ post.caption }}</p>

    {% with latest_comment=post.comment_set.latest %}
        {% if latest_comment %}
            <p>
                <a href="{% url 'comment' post.id %}">
                    {{ latest_comment.content }}
                </a>
            </p>
            {% if post.comment_set.count > 1 %}
                <p>
                    <a href="{% url 'comment' post.id %}">
                        view {{ post.comment_set.count|add:"-1" }} more comments
                    </a>
                </p>
            {% endif %}
        {% endif %}
    {% endwith %}
        <p><a href="{% url 'comment' post.id %}">Comment</a></p>
    {% endfor %}
        
    {% if suggested_users %}
        <h3>Suggested Users To Follow</h3>
        {% for user, profile in suggested_users %}
            <td>
                <p><a href="{{ profile.image.url }}"><img src="{{ profile.image.url }}" alt="" width="300" height="300"></a>
            
                <strong>Username: </strong><a href="{% url 'profile' profile.user %}">@{{ profile.user }}</a></p>
                
            </td>
        {% endfor %}
    {% endif %}
{% endblock content %}