{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}

  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
      data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <div class="d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand" href="#" onclick="goBack()">
          <i class="ni ni-bold-left"></i>
        </a>
    
          <!-- User Profile and Notification (Far Right) -->
          <ul class="navbar-nav">
            <div class="ms-md-auto pe-md-3 d-flex mt-3 align-items-center">
              <div class="input-group">
                <form action="{% url 'search' %}" method="GET">
                  {% csrf_token %}
    
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" name="user" class="form-control" placeholder="Search here...." required
                      aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </form>
              </div>
            </div>
            
            <!-- Notification begins -->
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton message-link"
   data-bs-toggle="dropdown" aria-expanded="false" onclick="hideNotificationCount()">
                <span class="bell-icon m-3">
                  <i class="fa fa-bell cursor-pointer text-dark"></i>
                  {% if distinct_senders.count >= 1 %}
                    <small id="notification-count" class="text-danger fw-bolder">{{distinct_senders_count.count}}</small>
                  {% endif %}
                </span>
              </a>
    
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              {% if distinct_senders %}  
                {% for sender in distinct_senders %}
                  {% with messages=sender.sent_messages.all %}
                    {% if messages %}
                      {% with latest_message=messages.latest %}
                        <li class="mb-2">
                          <a class="dropdown-item border-radius-md" href="{% url 'message' sender.username %}">
                            <div class="d-flex py-1">
                              <div class="my-auto">
                                <img src="{{ sender.profile.image.url }}" class="avatar avatar-sm  me-3 ">
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="text-sm font-weight-normal mb-1">
                                  <span class="font-weight-bold">New message</span> from {{ sender.username }}
                                </h6>
                                <p class="text-xs text-secondary mb-0">
                                  <i class="fa fa-clock me-1"></i>
                                  {{ latest_message.date_sent|custom_timesince }}
                                </p>
                              </div>
                            </div>
                          </a>
                        </li>
                      {% endwith %}
                    {% endif %}
                  {% endwith %}
                {% endfor %}
                   {% if distinct_senders_count.count > 3 %}
                    <li>
                      <div class="d-flex py-1">
                        <a class="dropdown-item border-radius-md" href="{% url 'inbox' %}">View all....</a>
                      </div>
                    </li>
                  {% endif %}
                {% else %}
                <small>no new message</small>
              {% endif %}  
              </ul>
            </li>
            <!-- Notification end -->

            <!-- User Profile -->
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="{{ request.user.profile.image.url }}" class="avatar avatar-sm  me-3 ">
              </a>
    
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'home' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="home"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Home</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'profile' request.user.username %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Profile</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'settings' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="settings"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Settings</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'password_change' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="key"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Change Password</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'signout' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="log-in"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Logout</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
    
              </ul>
            </li>
            <!-- end user profile -->
            <!-- dark them -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

<!-- individual posts -->
            <div class="container mt-4">
              <div class="row justify-content-center">
                <div class="col-10 col-md-6 text-center">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <a href="{% url 'profile' post.author %}">@{{post.author}}</a>
                    <span class="text-secondary">{{ post.date_posted }}</span>
                  </div>
                  {% if post.get_file_type == 'image' %}
                    <a href="{{post.file.url}}"><img src="{{post.file.url}}" class="img-fluid rounded" alt="post"></a>
                  {% elif post.get_file_type == 'video' %}
                    <video controls width="300" height="300">
                      <source src="{{ post.file.url }}" type="video/mp4">
                    </video>
                  {% else %}
                    <p>No file uploaded or unsupported file type.</p>
                  {% endif %}
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    {% if post.no_of_likes == 0 %}
                      <a href="{% url 'likepost' %}?post_id={{post.id}}"><i class="fa fa-diamond cursor-pointer text-primary"> <small>Like</small></i></a>
                      <a href="{% url 'comment' post.id %}"><i class="fa fa-comment cursor-pointer text-primary"> <small>Comment</small></i></a>
                      <small class="text-primary">No like</small>
                      <a href="{{post.image.url}}" download><i class="fa fa-download cursor-pointer text-primary"></i></a>
                    {% elif post.no_of_likes == 1 %}
                      <a href="{% url 'likepost' %}?post_id={{post.id}}"><i class="fa fa-diamond cursor-pointer text-primary">
                          <small>Like</small></i></a>
                      <a href="{% url 'comment' post.id %}"><i class="fa fa-comment cursor-pointer text-primary"> <small>Comment</small></i></a>
                          <small class="text-primary">{{post.no_of_likes}} person liked this post</small>
                      <a href="{{post.image.url}}" download><i class="fa fa-download cursor-pointer text-primary"></i></a>
                    {% else %}
                        <a href="{% url 'likepost' %}?post_id={{post.id}}"><i class="fa fa-diamond cursor-pointer text-primary">
                            <small>Like</small></i></a>
                        <a href="{% url 'comment' post.id %}"><i class="fa fa-comment cursor-pointer text-primary"> <small>Comment</small></i></a>
                            <small class="text-primary" >{{post.no_of_likes}} people liked this post</small>
                        <a href="{{post.image.url}}" download><i class="fa fa-download cursor-pointer text-primary"></i></a>
                    {% endif %}
                      </div>
                      <div class="d-flex justify-content-start">
                        <small>{{ post.caption }}</small>
                      </div>
                      
                        {% with latest_comment=post.comment_set.latest %}
                          {% if latest_comment %}
                            <div class="d-flex justify-content-start">
                              <a class="text-decoration-none" href="{% url 'comment' post.id %}">
                                {{ latest_comment.content }}
                              </a>
                            </div>
                            {% if post.comment_set.count > 1 %}
                              <div class="d-flex justify-content-start">
                                <a class="text-decoration-none" href="{% url 'comment' post.id %}">
                                  view {{ post.comment_set.count|add:"-1" }} more comments
                                </a>
                              </div>
                            {% endif %}
                          {% endif %}
                        {% endwith %}
                </div>
              </div>
            </div>
    <!-- end individual posts -->

    <!-- Post feed -->
          {% for post in page_obj %}
            <div class="container mt-4">
              <div class="row justify-content-center">
                <div class="col-10 col-md-6 text-center">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <a href="{% url 'profile' post.author %}">@{{post.author}}</a>
                    <span class="text-secondary">{{ post.date_posted }}</span>
                  </div>
                  {% if post.get_file_type == 'image' %}
                    <a href="{{post.file.url}}"><img src="{{post.file.url}}" class="img-fluid rounded" alt="post"></a>
                  {% elif post.get_file_type == 'video' %}
                    <video controls width="300" height="300">
                      <source src="{{ post.file.url }}" type="video/mp4">
                    </video>
                  {% else %}
                    <p>No file uploaded or unsupported file type.</p>
                  {% endif %}
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    {% if post.no_of_likes == 0 %}
                      <a href="{% url 'likepost' %}?post_id={{post.id}}"><i class="fa fa-diamond cursor-pointer text-primary"> <small>Like</small></i></a>
                      <a href="{% url 'comment' post.id %}"><i class="fa fa-comment cursor-pointer text-primary"> <small>Comment</small></i></a>
                      <small class="text-primary">No like</small>
                      <a href="{{post.image.url}}" download><i class="fa fa-download cursor-pointer text-primary"></i></a>
                    {% elif post.no_of_likes == 1 %}
                      <a href="{% url 'likepost' %}?post_id={{post.id}}"><i class="fa fa-diamond cursor-pointer text-primary">
                          <small>Like</small></i></a>
                      <a href="{% url 'comment' post.id %}"><i class="fa fa-comment cursor-pointer text-primary"> <small>Comment</small></i></a>
                          <small class="text-primary">{{post.no_of_likes}} person liked this post</small>
                      <a href="{{post.image.url}}" download><i class="fa fa-download cursor-pointer text-primary"></i></a>
                    {% else %}
                        <a href="{% url 'likepost' %}?post_id={{post.id}}"><i class="fa fa-diamond cursor-pointer text-primary">
                            <small>Like</small></i></a>
                        <a href="{% url 'comment' post.id %}"><i class="fa fa-comment cursor-pointer text-primary"> <small>Comment</small></i></a>
                            <small class="text-primary" >{{post.no_of_likes}} people liked this post</small>
                        <a href="{{post.image.url}}" download><i class="fa fa-download cursor-pointer text-primary"></i></a>
                    {% endif %}
                      </div>
                      <div class="d-flex justify-content-start">
                        <small>{{ post.caption }}</small>
                      </div>
                      
                        {% with latest_comment=post.comment_set.latest %}
                          {% if latest_comment %}
                            <div class="d-flex justify-content-start">
                              <a class="text-decoration-none" href="{% url 'comment' post.id %}">
                                {{ latest_comment.content }}
                              </a>
                            </div>
                            {% if post.comment_set.count > 1 %}
                              <div class="d-flex justify-content-start">
                                <a class="text-decoration-none" href="{% url 'comment' post.id %}">
                                  view {{ post.comment_set.count|add:"-1" }} more comments
                                </a>
                              </div>
                            {% endif %}
                          {% endif %}
                        {% endwith %}
                      
                </div>
              </div>
            </div> 
          {% endfor %}
          <!-- Post feed end -->
  </main>


{% endblock content %}