{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
  <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
  id="sidenav-main">
 
  <hr class="horizontal dark mt-0">

  <!-- profile start -->
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-evenly">
      <a href="{{user_profile.image.url}}">
        <img src="{{user_profile.image.url}}" class="img-fluid rounded-circle" style="width: 200px; height: 200px;">
      </a>
    </div>
    <div class="d-flex justify-content-evenly">
      <h4 class="fs-4 text-uppercase">{{user_profile.user.username}}</h4>
    </div>

    <div class="d-flex justify-content-evenly mt-1 text-center">
      <form action="{% url 'followunfollow' %}" method="POST">
        {% csrf_token %}
        {% if request.user.username != user_profile.user.username %}
        <input type="hidden" value="{{request.user.username}}" name="follower">
        <input type="hidden" value="{{user_profile.user.username}}" name="user_being_followed">
        {% if following %}
        <button type="submit" class="text-primary btn btn-light">Unfollow</button>
        <a href="{% url 'message' user_profile.user.username %}" class="text-primary btn btn-light">Message</a>
        {% else %}
        <button type="submit" class="text-primary btn btn-light">Follow</button>
        {% endif %}
        {% endif %}
      </form>
    </div>
    <div class="d-flex justify-content-evenly mt-1 text-center">
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-atom"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
  <!-- profile end -->
  <hr class="horizontal dark mt-0">


  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav pe-2 d-flex align-items-center">
      {% if user_profile.bio %}
      <li class="nav-item">
        <a class="nav-link " href="#" data-bs-trigger="focus" data-bs-toggle="popover"
        data-bs-title="{{user_profile.user.username}}"
            data-bs-content="{{user_profile.bio}} I live in {{user_profile.location}}">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-user text-success text-sm opacity-10"></i>
          </div>

            <span class="nav-link-text ms-1">About</span>
        </a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link " href="{% url 'uploadpost' %}">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-album-2 text-success text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Upload Post</span>
        </a>
      </li>
      {% if followers_count > 0 %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'followers-list' user_profile.user.username %}">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-favourite-28 text-warning text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1 d-flex justify-content-between">Followers
            <div class="circle bg-gradient-success">
              <span class="number text-dark">{{followers_count}}</span>
            </div>
          </span>
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link " href="#">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-favourite-28 text-warning text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1 d-flex justify-content-between">Followers
            <div class="circle bg-gradient-success">
              <span class="number text-dark">{{followers_count}}</span>
            </div>
          </span>
        </a>
      </li>
      {% endif %}

      {% if following_count > 0 %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'following-list' user_profile.user.username %}">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-camera-compact text-success text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1 d-flex justify-content-between">Following
            <div class="circle bg-gradient-success">
              <span class="number text-dark">{{following_count}}</span>
            </div>
          </span>
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link " href="#">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-camera-compact text-success text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1 d-flex justify-content-between">Following
            <div class="circle bg-gradient-success">
              <span class="number text-dark">{{following_count}}</span>
            </div>
          </span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</aside>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
      data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <div class="d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand" href="#" onclick="goBack()">
          <i class="ni ni-bold-left"></i>
        </a>
    
          <!-- User Profile and Notification (Far Right) -->
          <ul class="navbar-nav">
            <div class="ms-md-auto pe-md-3 d-flex mt-3 align-items-center">
              <div class="input-group">
                <form action="{% url 'search' %}" method="GET">
                  {% csrf_token %}
    
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" name="user" class="form-control" placeholder="Search here...." required
                      aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </form>
              </div>
            </div>
           
            <!-- Notification begins -->
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton message-link"
   data-bs-toggle="dropdown" aria-expanded="false" onclick="hideNotificationCount()">
                <span class="bell-icon m-3">
                  <i class="fa fa-bell cursor-pointer text-dark"></i>
                  {% if distinct_senders.count >= 1 %}
                    <small id="notification-count" class="text-danger fw-bolder">{{distinct_senders_count.count}}</small>
                  {% endif %}
                </span>
              </a>
    
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              {% if distinct_senders %}  
                {% for sender in distinct_senders %}
                  {% with messages=sender.sent_messages.all %}
                    {% if messages %}
                      {% with latest_message=messages.latest %}
                        <li class="mb-2">
                          <a class="dropdown-item border-radius-md" href="{% url 'message' sender.username %}">
                            <div class="d-flex py-1">
                              <div class="my-auto">
                                <img src="{{ sender.profile.image.url }}" class="avatar avatar-sm  me-3 ">
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="text-sm font-weight-normal mb-1">
                                  <span class="font-weight-bold">New message</span> from {{ sender.username }}
                                </h6>
                                <p class="text-xs text-secondary mb-0">
                                  <i class="fa fa-clock me-1"></i>
                                  {{ latest_message.date_sent|custom_timesince }}
                                </p>
                              </div>
                            </div>
                          </a>
                        </li>
                      {% endwith %}
                    {% endif %}
                  {% endwith %}
                {% endfor %}
                {% if distinct_senders_count.count > 3 %}
                    <li>
                      <div class="d-flex py-1">
                        <a class="dropdown-item border-radius-md" href="{% url 'inbox' %}">View all....</a>
                      </div>
                    </li>
                  {% endif %}
                {% else %}
                <small>no new message</small>
              {% endif %}  
              </ul>
            </li>
            <!-- Notification end -->

            <!-- User Profile -->
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="{{ request.user.profile.image.url }}" class="avatar avatar-sm  me-3 ">
              </a>
    
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'home' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="home"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Home</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'profile' request.user.username %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Profile</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'inbox' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="mail"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Chats</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'settings' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="settings"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Settings</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'password_change' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="key"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Change Password</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'signout' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="log-in"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Logout</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
    
              </ul>
            </li>
            <!-- end user profile -->
    
              </ul>

            <!-- Side bar toggler -->
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center text-dark">
              <a href="javascript:;" class="nav-link text-dark p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner text-dark">
                  <i class="sidenav-toggler-line bg-gradient-dark"></i>
                  <i class="sidenav-toggler-line bg-gradient-dark"></i>
                  <i class="sidenav-toggler-line bg-gradient-dark"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <span class="m-5">
      <span>{{posts_count}} Post{{posts_count|pluralize}}</span>
    </span>

    <!-- profile Post feed -->
    {% if posts %}
    <div class="container text-center">
      <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3">
        <!-- loop start -->
        {% for post in posts %}
        <div class="col">
          <div class="p-3 post-item">
            {% if post.get_file_type == 'image' %}
            <a href="{% url 'profileposts' post.author.username post.id %}">
              <span class="mt-5">Image</span>
              <img src="{{post.file.url}}" class="img-fluid rounded" alt="Image 1">
            </a>
            {% elif post.get_file_type == 'video' %}
            <a href="{% url 'profileposts' post.author.username post.id %}">
              <span class="mt-5">Video</span>
              <video class="img-fluid rounded" alt="Image 1">
                <source src="{{ post.file.url }}" type="video/mp4">
              </video>
            </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


    
    <!-- loop end -->
    {% else %}
    
    <div class="alert alert-light text-dark d-flex justify-content-center" role="alert">
      The user has not posted anything yet!
    </div>
    
    {% endif %}
    <!-- profile Post feed end -->
  </main>


{% endblock content %}