{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
 
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl navbar-fixed" id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3 navbar-content">
        <a class="navbar-brand" href="#" onclick="goBack()">
            <i class="ni ni-bold-left"></i>
        </a>
    
          <!-- User Profile and Notification (Far Right) -->
          <ul class="navbar-nav">
            <!-- Notification begins -->
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton message-link"
   data-bs-toggle="dropdown" aria-expanded="false" onclick="hideNotificationCount()">
                <span class="bell-icon m-3">
                  <i class="fa fa-bell cursor-pointer text-dark"></i>
                  {% if distinct_senders.count >= 1 %}
                    <small id="notification-count" class="text-danger fw-bolder">{{distinct_senders_count.count}}</small>
                  {% endif %}
                </span>
              </a>
    
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              {% if distinct_senders %}  
                {% for sender in distinct_senders %}
                  {% with messages=sender.sent_messages.all %}
                    {% if messages %}
                      {% with latest_message=messages.latest %}
                        <li class="mb-2">
                          <a class="dropdown-item border-radius-md" href="{% url 'message' sender.username %}">
                            <div class="d-flex py-1">
                              <div class="my-auto">
                                <img src="{{ sender.profile.image.url }}" class="avatar avatar-sm  me-3 ">
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="text-sm font-weight-normal mb-1">
                                  <span class="font-weight-bold">New message</span> from {{ sender.username }}
                                </h6>
                                <p class="text-xs text-secondary mb-0">
                                  <i class="fa fa-clock me-1"></i>
                                  {{ latest_message.date_sent|custom_timesince }}
                                </p>
                              </div>
                            </div>
                          </a>
                        </li>
                      {% endwith %}
                    {% endif %}
                  {% endwith %}
                {% endfor %}
                   {% if distinct_senders_count.count > 3 %}
                    <li>
                      <div class="d-flex py-1">
                        <a class="dropdown-item border-radius-md" href="{% url 'inbox' %}">View all....</a>
                      </div>
                    </li>
                  {% endif %}
                {% else %}
                <small>no new message</small>
              {% endif %}  
              </ul>
            </li>
            <!-- Notification end -->

            <!-- User Profile -->
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="{{ request.user.profile.image.url }}" class="avatar avatar-sm  me-3 ">
              </a>
    
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'home' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="home"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Home</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'profile' request.user.username %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Profile</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'inbox' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="mail"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Chats</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'settings' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="settings"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Settings</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'password_change' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="key"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Change Password</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="{% url 'signout' %}">
                    <div class="d-flex py-1">
                      <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <ion-icon name="log-in"></ion-icon>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold text-dark">Logout</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
    
              </ul>
            </li>
            <!-- end user profile -->
          </ul>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->


    {% if messages %}
    <div class="container mt-8 mb-0">
        <div class="alert alert-dark text-center d-flex justify-content-center" role="alert">
          <small class="text-white">{% include 'core/alert.html' %}&nbsp;</small>
          <div class="circle bg-gradient-success">
            <span class="number text-dark"><i class="ni ni-check-bold"></i></span>
          </div>
        </div>
    </div>
    {% endif %}
      <!-- form feed -->
      <div class="align-items-start min-vh-25 mb-4 border-radius-lg mt-7">
      </div>
      <div class="container-fluid py-4">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
          <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="card z-index-0">
      
              <div class="card-body">
                <h4 class="text-center">USER SETTINGS</h4>
                <div class="d-flex justify-content-evenly">
                  <img src="{{ user_profile.image.url }}" class="img-fluid rounded-circle" style="width: 160px; height: 160px;">
                </div>
                <form role="form" action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="d-flex justify-content-evenly align-items-center mt-3">
                      <label for="file-input">
                          <ion-icon name="image" class="icon-large"></ion-icon>
                      </label>
                      <input id="file-input" name="image" type="file">
                  </div>
      
                  <div class="form-floating mb-3">
                      <select class="form-select" aria-label="Default select example" name="career">
                          <option value="" selected disabled>Select your career</option>
                          {% for option in career_options %}
                              <option value="{{ option.value }}" {% if option.value == user_profile.career %}selected{% endif %}>{{ option.label }}</option>
                          {% endfor %}
                      </select>
                      <label for="floatingSelect">Career</label>
                  </div>

                  <div class="form-floating mb-3">
                      <select class="form-select" aria-label="Default select example" name="location">
                          <option value="" selected disabled>Select your location</option>
                          {% for option in location_options %}
                              <option value="{{ option.value }}" {% if option.value == user_profile.location %}selected{% endif %}>{{ option.label }}</option>
                          {% endfor %}
                      </select>
                      <label for="floatingSelect">Location</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="url" name="website_link" value="{{user_profile.website_link}}" class="form-control" id="floatingInputDisabled" placeholder="Personal Link">
                    <label for="floatingInputDisabled">Personal Website Link</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="url" name="github_link" value="{{user_profile.github_link}}" class="form-control" id="floatingInputDisabled" placeholder="Facebook Link">
                    <label for="floatingInputDisabled">Github Link</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="url" name="x_link" value="{{user_profile.x_link}}" class="form-control" id="floatingInputDisabled" placeholder="Twitter Link">
                    <label for="floatingInputDisabled">X Link</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="url" name="instagram_link" value="{{user_profile.instagram_link}}" class="form-control" id="floatingInputDisabled" placeholder="Instagram Link">
                    <label for="floatingInputDisabled">Instagram Link</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="url" name="linkedin_link" value="{{user_profile.linkedin_link}}" class="form-control" id="floatingInputDisabled" placeholder="Linkedin Link">
                    <label for="floatingInputDisabled">Linkedin Link</label>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- form feed end -->
  </main>


{% endblock content %}