{% load static %}
<div>
    <p>
        <h2> <a href= "{% url 'home' %}">Logo</a></h2>
        {% if request.user.is_authenticated %} 
        <form action="{% url 'search' %}" method="GET">
            {% csrf_token %}
            <input type="text" name="user" placeholder="Search for a user...." required>
            <button type="submit">Search</button>
        </form>
        <a href="{% url 'uploadpost' %}">Create Post</a>
        <a href="{% url 'profile' request.user %}">Profile</a>
        <a href="{% url 'settings' %}">Settings</a>
        <a href="{% url 'inbox' %}">Inbox</a>
        <a href="{% url 'signout' %}">Logout</a>
        {% endif %} 
    </p>
    <hr>
</div>